@font-face {
  font-family: 'Avenir Next-Bold';
  src: url('../source/fonts/AvenirNext-Bold/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
  url('../source/fonts/AvenirNext-Bold/AvenirNext-Bold.woff') format('woff'),
  url('../source/fonts/AvenirNext-Bold/AvenirNext-Bold.ttf')  format('truetype'),
  url('../source/fonts/AvenirNext-Bold/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Avenir Next - Regular';
  src: url('../source/fonts/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
  url('../source/fonts/AvenirNext-Regular/AvenirNext-Regular.woff') format('woff'),
  url('../source/fonts/AvenirNext-Regular/AvenirNext-Regular.ttf')  format('truetype'),
  url('../source/fonts/AvenirNext-Regular/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../source/fonts/AvenirNextCur-Regular/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
  url('../source/fonts/AvenirNextCur-Regular/AvenirNext-Regular.woff') format('woff'),
  url('../source/fonts/AvenirNextCur-Regular/AvenirNext-Regular.ttf')  format('truetype'),
  url('../source/fonts/AvenirNextCur-Regular/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Avenir Next Cyr Medium';
  src: url('../source/fonts/AvenirNextCur-Medium/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../source/fonts/AvenirNextCur-Medium/AvenirNextCyr-Medium.woff') format('woff'),
  url('../source/fonts/AvenirNextCur-Medium/AvenirNextCyr-Medium.ttf')  format('truetype'),
  url('../source/fonts/AvenirNextCur-Medium/AvenirNextCyr-Medium.svg#AvenirNextCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
